/* Visual Composer styles
----------------------------------------------------------------- */
.vc_row.vc_parallax[class*="scheme_"] .vc_parallax-inner:before {
	content: ' ';
	position:absolute;
	z-index:1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.vc_row .wpb_column:not(.vc_col-sm-12) blockquote {
	margin: 0;
}

/* Row and Columns */
.vc_col-sm-12 {
	min-height:0;
}
.vc_row.vc_row-o-full-height {
    min-height: 100vh !important;
}
.vc_row.vc_parallax[class*="scheme_"] .vc_parallax-inner:before {
	content: ' ';
	position:absolute;
	z-index:1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.vc_row .wpb_column:not(.vc_col-sm-12) blockquote {
	margin: 0;
}
.vc_col-has-fill > .vc_column-inner,
.vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner {
	padding-top: 0;
}


/* Panels */
.vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body {
	padding:1.5em 1.8em !important;
}
.vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body p {
	margin-bottom: 0;
}
.vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body p + p {
	margin-top: 1.6em;
}

/* Accordion */
.vc_tta.vc_tta-accordion .vc_tta-panel-body,
.vc_tta.vc_tta-accordion .vc_tta-panel-heading {
	border: none !important;
	background: transparent !important;
}
.vc_tta.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading, .vc_tta.vc_tta-style-classic .vc_tta-panel:not(:last-child) .vc_tta-panel-heading, .vc_tta.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-heading, .vc_tta.vc_tta-style-modern .vc_tta-panel:not(:last-child) .vc_tta-panel-heading {
	margin-bottom: 1.6em;
}
.vc_tta.vc_tta-style-classic .vc_tta-panel.vc_active + .vc_tta-panel .vc_tta-panel-heading, .vc_tta.vc_tta-style-classic .vc_tta-panel:not(:first-child) .vc_tta-panel-heading {
	margin-top:1.6em;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-title {
	font-size: 1em;
	line-height: 1.3em;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-title .vc_tta-title-text {
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.813em;
	text-transform:uppercase;
}

.vc_tta.vc_general .vc_tta-panels .vc_tta-panel-title > a {
	padding: 0.85em 1.9em;
}

.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-left.vc_tta-panel-title > a {
	padding-left: 2.5em;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-right.vc_tta-panel-title > a {
	padding-right: 2.5em;
	padding-left:0;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-left.vc_tta-panel-title > a > .vc_tta-controls-icon {
	left:0;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-right.vc_tta-panel-title > a > .vc_tta-controls-icon {
	right:0;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon {
	width: 2.6667em;
	height: 2.6667em;
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}
.vc_tta.vc_tta-accordion.vc_tta-shape-rounded .vc_tta-panel-heading .vc_tta-controls-icon {
	border-radius: 5px;
}
.vc_tta.vc_tta-accordion.vc_tta-shape-round .vc_tta-panel-heading .vc_tta-controls-icon {
	border-radius: 50%;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {
	left: 0;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right .vc_tta-controls-icon {
	right: 0;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-minus:before,
.vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-plus:before {
	left:50%;
	right: auto;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 9px;
	border-width: 1px 0 0 0;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-plus:after {
	top:50%;
	bottom: auto;
	border-width: 0 0 0 1px;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	height: 9px;
}
.vc_tta.vc_tta-accordion .vc_tta-panel:not(.vc_active) + .vc_tta-panel {
	margin-top: 0.2em;
}

.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-left.vc_tta-panel-title > a > .vc_tta-controls-icon {
	// display: none;
}
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title > a,
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-left.vc_tta-panel-title > a,
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title > a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Tabs */
.vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels {

}

.vc_tta.vc_general .vc_tta-tabs-container .vc_tta-tab > a {
	background-color:transparent;
	border: none;
	border-radius: 0 !important;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.813em;
	padding: 0.55em 2.8em;
	text-transform: uppercase;
}
.vc_tta.vc_general .vc_tta-tab + .vc_tta-tab {
	margin-left: 0;
}


/* Separator */
.vc_separator {
	margin-top: 3.3334em;
	margin-bottom: 5em !important;
}
.vc_separator .vc_sep_holder .vc_sep_line {
	border-style:solid;
}

/* Progress bar */
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar {
	box-shadow:none;
	border-radius:0;
	height: 6px;
	margin-top: 1.4em;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_bar {
	height: 6px;
	border-radius:0;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar + .vc_single_bar {
	margin-top: 2.95em;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_label {
	position:absolute;
	font-size: 1em;
	font-weight: 700;
	font-style:normal;
	line-height: 1.688em;
	top: -1.9em;
	padding:0;
	text-shadow:none;
	display:block;
	width:100%;
	text-transform: uppercase;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_label .vc_label_units {
	position:absolute;
	z-index:1;
	top:0;
	right: 0;
	font-size: 1em;
	font-weight: 700;
}

/* Message Box */
.vc_message_box {
	padding:1.4em 0.875em 1.4em 4.9em;
}
.vc_message_box-solid-icon {
	padding-left: 7em;
}
.vc_message_box-icon {
	width: 4.5em;
}
.vc_message_box .vc_message_box-icon > * {
	font-size: 1.8em;
}
.vc_message_box-solid-icon .vc_message_box-icon {
	width: 5em;
	font-weight: 400;
	font-size: 1em;
}
.vc_message_box:not(.vc_message_box-solid-icon) .vc_message_box-icon > * {
	left:auto;
	right:0.6em;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.vc_message_box-outline .vc_message_box-icon i  {	color: inherit; }
.vc_color-juicy_pink.vc_message_box-outline, .vc_color-juicy_pink.vc_message_box-solid-icon {	color: #f4524d; }
.vc_color-orange.vc_message_box-outline, .vc_color-orange.vc_message_box-solid-icon { 			color: #e39a31; }
.vc_color-vista_blue.vc_message_box-outline .vc_message_box-icon, .vc_color-vista_blue.vc_message_box-solid-icon .vc_message_box-icon i,
.vc_color-vista_blue.vc_message_box-outline, .vc_color-vista_blue.vc_message_box-solid-icon {	color: #9dbf00; }
.vc_color-vista_blue.vc_message_box-outline, .vc_color-vista_blue.vc_message_box-solid-icon {	border-color: #9dbf00; }
.vc_color-vista_blue.vc_message_box-solid-icon .vc_message_box-icon i {							background-color: #9dbf00; }

.vc_message_box_closeable {
	position:relative;
}
.vc_message_box_closeable:after {
	content: '\e8ac';
	font-family:'fontello';
	font-size: 1.5em;
	line-height: 1em;
	font-weight:400;
	padding:1em;
	color: inherit;
	cursor:pointer;
	position:absolute;
	top: 50%;
	right: 0;
	-webkit-transform:translateY(-50%);
	   -moz-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
}

/* Text block after slider or video */
.wpb_text_column[class*="scheme_"] {
	padding: 2rem 2.4rem;
}


/* Google maps */
.wpb_gmaps_widget .wpb_wrapper {
	padding:0;
}

/* images carousel */
.vc_images_carousel.vc_per-view-more .vc_carousel-slideline .vc_carousel-slideline-inner > .vc_item {
	text-align: center;
	// position: relative;
}
.vc_images_carousel.vc_per-view-more .vc_carousel-slideline .vc_carousel-slideline-inner > .vc_item > .vc_inner {
	// height: inherit;
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// -webkit-transform:translatex(-50%) translateY(-50%);
	//    -moz-transform:translatex(-50%) translateY(-50%);
	//     -ms-transform:translatex(-50%) translateY(-50%);
	//         transform:translatex(-50%) translateY(-50%);
}

/* toggle */
.vc_toggle .vc_toggle_title{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.vc_toggle .vc_toggle_title{
    padding: 1.55em 1.8em 1.2em;
}
.vc_toggle .vc_toggle_title h4{
	font-size: 1.5em;
	font-weight: 700;
	margin-top: 0;
}

.vc_toggle_content {
    margin: 1.5em 1.7em;
}

.vc_toggle_content p:last-child{
	margin-bottom: 0;
}

/* gallery */
.wpb_image_grid .wpb_image_grid_ul {
	margin-right: -4px;
}

.wpb_image_grid .wpb_image_grid_ul .isotope-item + .isotope-item{
	margin-left: 1.9rem;
}

/**/
.vc_custom_1476366729286 {
	background-position: center top;
}