/* Importer
-----------------------------------------------------------------*/
.trx_importer {
	overflow:hidden;
}
.trx_importer_section {
	width: 45%;
	float:left;
	border: 2px groove #e0e0e0;
	margin: 2em 0 0 0;
	padding: 1em 2em 2em;
}
.trx_exporter_section {
	width: 45%;
	float:right;
	border: 2px groove #e0e0e0;
	margin: 2em 2em 0 0;
	padding: 1em 2em 2em;
}



/* Menu icons
-----------------------------------------------------------------*/
.menu-item-settings .description-thin {
	position:relative;
}
.stevenwatkins_list_icons_selector {
	position:absolute;
	right: -2.5em;
	top: 1.6667em;
	z-index:1000;
}
.stevenwatkins_list_icons {
	position:absolute;
	display:none;
	z-index:1000;
	width: 307px;
	height: 261px;
	overflow-x:hidden;
	overflow-y:scroll;
	background-color:#f0f0f0;
	padding:1px 0 0 1px;
	border: 2px solid #ccc;
}
.stevenwatkins_list_icons span,
.stevenwatkins_list_icons_selector {
	display:inline-block;
	width: 2em;
	height:2em;
	line-height: 2em;
	text-align:center;
	border: 1px solid #ccc;
	margin: 0 1px 1px 0;
	background-color:#fff;
	cursor:pointer;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	    -ms-border-radius: 2px;
			border-radius: 2px;
}
.stevenwatkins_list_icons span:before,
.stevenwatkins_list_icons_selector:before {
	margin:0;
}
.stevenwatkins_list_icons span:hover,
.stevenwatkins_list_icons span.stevenwatkins_list_active,
.stevenwatkins_list_icons_selector:hover {
	background-color:#f0f0f0;
	border: 1px solid #bbb;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);	
}


/* Meta boxes
-----------------------------------------------------------------*/
.stevenwatkins_hidden {
	display: none;
}
#stevenwatkins_meta_box_tabs > ul {
	margin-bottom:0;
	position:relative;
	z-index:1;
}
#stevenwatkins_meta_box_tabs > ul > li {
	display:inline-block;
	margin:0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border:1px solid #ddd;
	border-bottom:none;
}
#stevenwatkins_meta_box_tabs > ul > li > a {
	display:block;
	padding: 0.3em 0.5em;
	text-decoration:none;
}
#stevenwatkins_meta_box_tabs > ul > li.ui-state-active > a {
	position:relative;
	top: 1px;
	background-color:#fff;
}
#stevenwatkins_meta_box_tabs > ul > li+li {
	margin-left:3px;
}
.stevenwatkins_meta_box_section {
	padding:1em;
	border:1px solid #ddd;
}
.stevenwatkins_meta_box_section+.stevenwatkins_meta_box_section {
	display:none;
}
.stevenwatkins_meta_box_item {
	margin-bottom:1em;
	overflow:hidden;
}
.stevenwatkins_meta_box_item_title {
	margin:0.5em 0.5em 0.5em 0;
	max-width:95%;
	width: 190px;
	padding-right:20px;
	position: relative;
	float:left;
}
.stevenwatkins_meta_box_item_checkbox .stevenwatkins_meta_box_item_title {
	margin-top:0.2em;
}
.stevenwatkins_meta_box_item_data {
	float:left;
	width:100%;
	max-width:220px;
}
.stevenwatkins_meta_box_item_field {
	position:relative;
}
.stevenwatkins_meta_box_item_checkbox .stevenwatkins_meta_box_item_label {
	display:inline-block;
	margin: 0.5em 0;
}
.stevenwatkins_meta_box_item_switch .stevenwatkins_meta_box_item_label,
.stevenwatkins_meta_box_item_radio .stevenwatkins_meta_box_item_label {
	display:inline-block;
	margin: 0.5em 1em 0.5em 0;
}
.stevenwatkins_meta_box_item_description {
	font-style: italic;
	font-size:0.9em;
}
.stevenwatkins_meta_box_item input[type="text"],
.stevenwatkins_meta_box_item select {
	width:100%;
	max-width:220px;
}

/* Inherit state */
.stevenwatkins_meta_box_inherit_lock {
	position:absolute;
	z-index:1;
	right: 0;
	top: 0;
	display:block;
	width:18px;
	height:18px;
	line-height:18px;
	background-color:#d0d0d0;
	color:#4c4c4c;
	text-align:center;
	border-radius: 2px;
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}
.stevenwatkins_meta_box_inherit_off .stevenwatkins_meta_box_inherit_lock {
	background-color:#4cb2e1;
	color:#ffffff;
}
.stevenwatkins_meta_box_inherit_lock:before {
	font-family:'fontello';
	content: '\e82b';
	padding:0;
	margin:0;
}
.stevenwatkins_meta_box_inherit_off .stevenwatkins_meta_box_inherit_lock:before {
	content: '\e8a9';
}
.stevenwatkins_meta_box_inherit_cover {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
	background-image:url(../images/stripe_black.png);
	z-index:3;
}
.stevenwatkins_meta_box_inherit_label {
	position:absolute;
	display:inline-block;
	left:50%;
	top:50%;
	margin:-10px 0 0 -30px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
}
.stevenwatkins_meta_box_wait:before {
	font-family:'fontello';
	content: '\e810' !important;
	display:inline-block;
	width: 1em;
	height: 1em;
	line-height:1em;
	text-align:center;
	-webkit-animation: spin 2s infinite linear;
	   -moz-animation: spin 2s infinite linear;
	    -ms-animation: spin 2s infinite linear;
	     -o-animation: spin 2s infinite linear;
	        animation: spin 2s infinite linear;
}


/* TGMA
-----------------------------------------------------------------*/
#setting-error-tgmpa {
	display:block;
}
.tgmpa_line_template {
	display: block;
	margin: 0.5em 0.5em 0 0;
	clear: both;
}
.tgmpa_version {
	float: right;
	padding: 0em 1.5em 0.5em 0;
}
.tgmpa_column_version {
	min-width: 32px;
	text-align: right;
	float: right;
}
.tgmpa_column_version_colored {
	color: #ff0000;
	font-weight: bold;
}
.tgmpa_column_version_colored_2 {
	color: #71C671;
	font-weight: bold;
}
.tgmpa_header {
	font-size: 23px;
	font-weight: 400;
	line-height: 29px;
	margin: 0;
	padding: 9px 15px 4px 0;
}
.tgmpa_update_php {
	width: 100%;
	height: 98%;
	min-height: 850px;
	padding-top: 1px;
}
.tgmpa_actions_row {
	color: #888;
}


/**/

#settings-dz-elements-wrapper .ui-tabs-nav li a {
	line-height: initial !important;
}

.ui-dialog .ui-dialog-titlebar-close span {
    margin-left: -8px !important;
    margin-top: -8px !important;
}

.ui-dialog-titlebar-close:before {
	display: none;
}

.ui-button .ui-button-text {
    line-height: 0.7;
}

/**/
.dashicons, .dashicons-before:before {
	line-height: inherit !important;
}
