/* MailChimp for WP styles
----------------------------------------------------------------- */
.mc4wp-form:after {
	content: ' ';
	display: block;
	height:0;
	width: 100%;
	clear:both;
}
.mc4wp-form input[type="email"] {
	float:left;
	padding: 1.95em 0em;
    width: 49%;
    margin-right: 3%;
	vertical-align:middle;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.widget_text .mc4wp-form input[type="submit"] {
	float:left;
	padding: 1.4em 1.6em;
	vertical-align:top;
	width:25%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}

.widget_text .mc4wp-form .mc4wp-alert {
	margin: 2em 0;
	padding: 1em;
}

.mc4wp-form .mc4wp-field{
	// display: inline-block;
}

.mc4wp-form .sc_button.sc_button_icon_right:before {
	float: right;
	font-size: 0.875em;
	margin-left: 0.75em;
}

.mc4wp-form-fields:after{
	content: '';
	display: block;
	clear: both;
}

.mc4wp-form-fields .mc4wp-field.sc_item_button button {
	font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
}

.mc4wp-form input[type="email"] {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #eee;
}

.mc4wp-form input[type="email"]:focus {
	background-color: transparent !important;
}


.mc4wp-form input::-webkit-input-placeholder {text-transform: uppercase; opacity: 1;font-weight: 400;font-size: 0.75rem;}
.mc4wp-form input::-moz-placeholder          {text-transform: uppercase; opacity: 1;font-weight: 400;font-size: 0.75rem;}/* Firefox 19+ */
.mc4wp-form input:-moz-placeholder           {text-transform: uppercase; opacity: 1;font-weight: 400;font-size: 0.75rem;}/* Firefox 18- */
.mc4wp-form input:-ms-input-placeholder      {text-transform: uppercase; opacity: 1;font-weight: 400;font-size: 0.75rem;}

.mc4wp-field:not(.sc_item_button){
	// width: 50%;
	position: relative;
	top: 9px;
}
.sc_item_button.mc4wp-field{
	float: right;
}

@media (min-width: 1263px) and (max-width: 1439px) {
	.mc4wp-form input[type="email"] {
		padding: 1.35em 0em;
	}
}


@media (max-width: 479px) {
	.mc4wp-form input[type="email"] {
	    padding: 1.4em 0em;
	    width: 100%;
	    float: none;
		display: block;
	}
	.sc_item_button.mc4wp-field {
		float: none;
		display: block;
		margin-top: 2em;
	}

	.mc4wp-form-fields .mc4wp-field.sc_item_button button {
		font-size: 1.5rem;
	}

	.mc4wp-form input::-webkit-input-placeholder {font-size: 1.5rem;}
	.mc4wp-form input::-moz-placeholder          {font-size: 1.5rem;}/* Firefox 19+ */
	.mc4wp-form input:-moz-placeholder           {font-size: 1.5rem;}/* Firefox 18- */
	.mc4wp-form input:-ms-input-placeholder      {font-size: 1.5rem;}
	
	.mc4wp-response {
		margin-top: 15px;
	}
}